 <!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <!-- Latest compiled and minified Bootstrap 3.4.1 CSS -->
      <link rel="stylesheet" href="https://bootswatch.com/3/sandstone/bootstrap.min.css" />
      <link rel="stylesheet" href="/css/main.css">
  </head>
  <div class="row">
    <div class="col-md-12">
        <h2>Register</h2>
        <hr />
        {{#if errorMsg}}
            <div class="alert alert-danger"><strong>Error:</strong> {{errorMsg}}</div>
        {{/if}}
        {{#unless successMsg }}
        <form method="post" action="/register">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <input class="form-control" id="userName" name="userName" type="text" placeholder="User Name" required value=""
                        />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <input class="form-control" id="password" name="password" type="password" placeholder="Password" required />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <input class="form-control" id="password2" name="password2" type="password" placeholder="Confirm Password" required />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <input class="form-control" id="email" name="email" type="email" placeholder="Email Address" required />
                    </div>
                </div>
            </div>
            <input type="submit" class="btn btn-success pull-right" value="Register" />
        </form>
        {{else}}
            <div class="alert alert-success">
                <strong>Success:</strong> {{successMsg}}
            </div>
            <a class="btn btn-success pull-right" href="/login">&nbsp;&nbsp;&nbsp;Proceed to Log in&nbsp;&nbsp;&nbsp;</a>
            <br /><br /><br />
        {{/unless}}
    </div>
</div>
</html>