body {
    background-color:#c4c3c3;
}

div.a {

    text-align: center;
    font-size: 16px;
}

sidebar {
    margin-left:8px;
    margin-right:8px;
    margin-top: 25px;
    width:650px;
    float:left;
    height:220px;
    background-color:#e8e8e7;
    text-align:left;
    border-radius: 25px;
}
 